mixin header()
    include ./header.pug

+header()
div.container
    h1 #{title}
    a(href = '/profile') Profile

mixin summary(account)
    include ./summary.pug

+summary(accounts.checking)
+summary(accounts.savings)
+summary(accounts.credit)

br
a(href='/transfer') Transfer

